streamlit>=1.36
pandas>=2.0
requests>=2.31
streamlit-lottie==0.0.5
google-generativeai>=0.7.0
beautifulsoup4
spacy>=3.8,<3.9

google-api-python-client>=2.126
google-auth>=2.30
google-auth-oauthlib>=1.2
google-auth-httplib2>=0.2
google-analytics-data>=0.18.0
google-analytics-admin


gspread>=6.0
gspread-dataframe>=3.3

# Opcional, pero útil en despliegues
protobuf>=4.25
